name: Java CI (Gradle)
on:
  workflow_call:
    inputs:
      java-version: # see https://github.com/actions/setup-java#supported-version-syntax
        required: true
        type: string
      distribution: # see https://github.com/actions/setup-java#supported-distributions
        required: false
        type: string
        default: "temurin"
      artifact-directory:
        required: false
        type: string
        default: "build"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v3.0.0
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.distribution }}
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.0.4
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2.1.3
        with:
          arguments: build
      - name: Upload artifacts
        uses: actions/upload-artifact@v3.0.0
        continue-on-error: true
        with:
          name: Package-Java-${{ inputs.java-version }}
          path: $${{ inputs.artifact-directory }}
